body {
    box-sizing: border-box;
}

.hero {
    background-image: url("../image/sg1.jpg");
    padding-top: 100px;
    padding-right: 12px;
    padding-bottom: 0px;
    padding-left: 12px;
    position: relative;
    background-size: cover;
    background-position: center;
}